In [50]:
import pandas as pd
import numpy as np

In [14]:
# Create a dataframe from a CSV file:
df = pd.read_csv("kepler.csv.gz", skiprows=53)

In [15]:
# Show a snippet of the dataframe:
cols = ['kepid', 'kepoi_name', 'kepler_name', 'koi_disposition', 'koi_score']
print (df.to_string(columns=cols, max_rows=4))

         kepid kepoi_name   kepler_name koi_disposition  koi_score
0     10797460  K00752.01  Kepler-227 b       CONFIRMED      1.000
1     10797460  K00752.02  Kepler-227 c       CONFIRMED      0.969
...        ...        ...           ...             ...        ...
9562  10155286  K07988.01           NaN       CANDIDATE      0.092
9563  10156110  K07989.01           NaN  FALSE POSITIVE      0.000

In [16]:
# Show all the columns:
df.columns

Index(['kepid', 'kepoi_name', 'kepler_name', 'koi_disposition',
       'koi_pdisposition', 'koi_score', 'koi_fpflag_nt', 'koi_fpflag_ss',
       'koi_fpflag_co', 'koi_fpflag_ec', 'koi_period', 'koi_period_err1',
       'koi_period_err2', 'koi_time0bk', 'koi_time0bk_err1',
       'koi_time0bk_err2', 'koi_impact', 'koi_impact_err1', 'koi_impact_err2',
       'koi_duration', 'koi_duration_err1', 'koi_duration_err2', 'koi_depth',
       'koi_depth_err1', 'koi_depth_err2', 'koi_prad', 'koi_prad_err1',
       'koi_prad_err2', 'koi_teq', 'koi_teq_err1', 'koi_teq_err2', 'koi_insol',
       'koi_insol_err1', 'koi_insol_err2', 'koi_model_snr', 'koi_tce_plnt_num',
       'koi_tce_delivname', 'koi_steff', 'koi_steff_err1', 'koi_steff_err2',
       'koi_slogg', 'koi_slogg_err1', 'koi_slogg_err2', 'koi_srad',
       'koi_srad_err1', 'koi_srad_err2', 'ra', 'dec', 'koi_kepmag'],
      dtype='object')

In [17]:
# Show data for specific columns: 
cols = ['kepid', 'kepoi_name', 'kepler_name', 'koi_disposition', 'koi_score']
print (df.to_string(columns=cols, max_rows=4))

         kepid kepoi_name   kepler_name koi_disposition  koi_score
0     10797460  K00752.01  Kepler-227 b       CONFIRMED      1.000
1     10797460  K00752.02  Kepler-227 c       CONFIRMED      0.969
...        ...        ...           ...             ...        ...
9562  10155286  K07988.01           NaN       CANDIDATE      0.092
9563  10156110  K07989.01           NaN  FALSE POSITIVE      0.000

In [18]:
# Select confirmed exoplanets with a disposition score equal to 1.0:
cols = ['kepid', 'kepoi_name', 'kepler_name', 'koi_disposition', 'koi_score']
df_confirmed = df[(df["koi_disposition"] == "CONFIRMED") & (df["koi_score"] == 1.0)]
print (df_confirmed.to_string(columns=cols, max_rows=4))

         kepid kepoi_name    kepler_name koi_disposition  koi_score
0     10797460  K00752.01   Kepler-227 b       CONFIRMED        1.0
4     10854555  K00755.01   Kepler-664 b       CONFIRMED        1.0
...        ...        ...            ...             ...        ...
7612  11125797  K03371.02  Kepler-1482 b       CONFIRMED        1.0
8817   7350067  K06863.01  Kepler-1646 b       CONFIRMED        1.0

In [19]:
# Show columns upto and include 'koi_score':
print (df.loc[:, :'koi_score'].to_string(max_rows=4))

         kepid kepoi_name   kepler_name koi_disposition koi_pdisposition  koi_score
0     10797460  K00752.01  Kepler-227 b       CONFIRMED        CANDIDATE      1.000
1     10797460  K00752.02  Kepler-227 c       CONFIRMED        CANDIDATE      0.969
...        ...        ...           ...             ...              ...        ...
9562  10155286  K07988.01           NaN       CANDIDATE        CANDIDATE      0.092
9563  10156110  K07989.01           NaN  FALSE POSITIVE   FALSE POSITIVE      0.000

In [20]:
# Take rows and columns of interest:
cond1 = df["koi_disposition"] == "CONFIRMED"
cond2 = df["koi_score"] == 1.0
df_interest = df.loc[cond1 & cond2, 'kepid':'koi_score']
print(df_interest.to_string(max_rows=4))

         kepid kepoi_name    kepler_name koi_disposition koi_pdisposition  koi_score
0     10797460  K00752.01   Kepler-227 b       CONFIRMED        CANDIDATE        1.0
4     10854555  K00755.01   Kepler-664 b       CONFIRMED        CANDIDATE        1.0
...        ...        ...            ...             ...              ...        ...
7612  11125797  K03371.02  Kepler-1482 b       CONFIRMED        CANDIDATE        1.0
8817   7350067  K06863.01  Kepler-1646 b       CONFIRMED        CANDIDATE        1.0

In [47]:
# Create a dataframe from collection data, named columns, and periodic datetimes for the index:
dates = pd.date_range(start="2019-01-01", periods=5, freq="min")
data = np.split(np.arange(20), 5)
df_data = pd.DataFrame(data, columns=["w","x","y","z"], index=dates)
print(df_data.to_string())

                      w   x   y   z
2019-01-01 00:00:00   0   1   2   3
2019-01-01 00:01:00   4   5   6   7
2019-01-01 00:02:00   8   9  10  11
2019-01-01 00:03:00  12  13  14  15
2019-01-01 00:04:00  16  17  18  19

In [49]:
# Show the datetime index:
df_data.index

DatetimeIndex(['2019-01-01 00:00:00', '2019-01-01 00:01:00',
               '2019-01-01 00:02:00', '2019-01-01 00:03:00',
               '2019-01-01 00:04:00'],
              dtype='datetime64[ns]', freq='T')

In [134]:
s1 = pd.Series(data=["a","b","c"],index=[True, True, False])

In [135]:
s2 = pd.Series(data=["d", "e", "f"],index=pd.date_range(start="20180701", periods=3))

In [152]:
s3 = pd.Series(data=["g","h","i"],index=[1, 1, 3])

In [161]:
s4 = pd.Series(data=["j", "k", "l"], index=[1, "2", "3"])

In [162]:
s3.index.union(s4.index)

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [120]:
df

,1970-01-01 00:00:00.000000001,1970-01-01 00:00:00.000000002,1970-01-01 00:00:00.000000003,2018-07-01 00:00:00,2018-07-02 00:00:00,2018-07-03 00:00:00,2018-07-04 00:00:00
0,NaN,NaN,NaN,NaN,1,2,3.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,a,b,c,NaN

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [77]:
s1.

ValueError: DataFrame constructor not properly called!