In [95]:
import numpy as np
import pandas as pd
pd.__version__

'0.25.2'

In [96]:
# constants
tuples = [(False, 99.0,  0,  23, "abc"),
          (True,  -42.0, -1, 99, "xyz"),
          (False, 0.0,   42, 42, "def"),
          (True,  None,  99, -1, "jkl"),
          (False, 16.66, 23, 0, "ghi")]

obj_index = ("m","n","o","p","q")
int64_index = (6, 7, 8, 9, 10)
bool_index = (True, False, True, False, True)
double64_index = (6.1, 6.2, 6.3, 6.4, 6.5)

In [97]:
##
## dataframe tests
##

In [98]:
# data
columns = obj_index
index = int64_index
df = pd.DataFrame(tuples, columns = columns, index = index)
print('DataFrame tests:\n') 
print(df.to_string())

DataFrame tests:

        m      n   o   p    q
6   False  99.00   0  23  abc
7    True -42.00  -1  99  xyz
8   False   0.00  42  42  def
9    True    NaN  99  -1  jkl
10  False  16.66  23   0  ghi

In [79]:
# expected shape, columns and index
assert((len(index), len(columns)) == df.shape)
assert(np.array_equal(columns, df.columns.to_numpy()))
assert(np.array_equal(index, df.index.to_numpy()))

In [154]:
##
## loc tests
##

In [81]:
# take single index
expected = pd.Series(tuples[0], index = columns)
print (expected.to_string())
assert(expected.equals(df.loc[6]))

m    False
n       99
o        0
p       23
q      abc

In [82]:
# take single index, two columns
expected = pd.Series(list(tuples[0])[0:2], index = columns[0:2])
print (expected.to_string())
assert(expected.equals(df.loc[index[0], list(columns[0:2])]))

m    False
n       99

In [83]:
# take two indices
expected = pd.DataFrame(tuples[0:2], columns = columns, index = index[0:2])
print (expected.to_string())
assert(expected.equals(df.loc[list(index[0:2])]))

       m     n  o   p    q
6  False  99.0  0  23  abc
7   True -42.0 -1  99  xyz

In [84]:
# take two indices, two columns
data = [list(tuples[0][0:2]), list(tuples[1][0:2])]
expected = pd.DataFrame(data, columns = columns[0:2], index = index[0:2])
print (expected.to_string())
assert(expected.equals(df.loc[list(index[0:2]), list(columns[0:2])]))

       m     n
6  False  99.0
7   True -42.0

In [85]:
##
## sort_values tests
##

In [86]:
## data
columns = obj_index
index = int64_index
df = pd.DataFrame(tuples, columns = columns, index = index)
print('sort_values tests:\n') 
print(df.to_string())

sort_values tests:

        m      n   o   p    q
6   False  99.00   0  23  abc
7    True -42.00  -1  99  xyz
8   False   0.00  42  42  def
9    True    NaN  99  -1  jkl
10  False  16.66  23   0  ghi

In [87]:
# sort by one column
expected = [[6, 8, 10, 7, 9],
            [7, 8, 10, 6, 9],
            [7, 6, 10, 8, 9],
            [9, 10, 6, 8, 7],
            [6, 8, 10, 9, 7]]
for idx in range(len(columns)):
  print('Sort by column: {0}\n'.format(columns[idx])) 
  dfs = df.sort_values(by=columns[idx])
  print(dfs.to_string())
  print("\n")
  assert(expected[idx] == dfs.index.to_list())

Sort by column: m

        m      n   o   p    q
6   False  99.00   0  23  abc
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
7    True -42.00  -1  99  xyz
9    True    NaN  99  -1  jkl


Sort by column: n

        m      n   o   p    q
7    True -42.00  -1  99  xyz
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
9    True    NaN  99  -1  jkl


Sort by column: o

        m      n   o   p    q
7    True -42.00  -1  99  xyz
6   False  99.00   0  23  abc
10  False  16.66  23   0  ghi
8   False   0.00  42  42  def
9    True    NaN  99  -1  jkl


Sort by column: p

        m      n   o   p    q
9    True    NaN  99  -1  jkl
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
8   False   0.00  42  42  def
7    True -42.00  -1  99  xyz


Sort by column: q

        m      n   o   p    q
6   False  99.00   0  23  abc
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
9    True    NaN  99  -1  jkl
7    True -42.00  -1  99  xyz

In [88]:
# sort by two columns
expected = [[8, 10, 6, 7, 9],
            [7, 8, 10, 6, 9],
            [7, 6, 10, 8, 9],
            [9, 10, 6, 8, 7]]
for idx in range(len(columns) - 1):
  dfs = df.sort_values(by=[columns[idx], columns[idx+1]])
  print('Sort by columns: [{0}, {1}]\n'.format(columns[idx], columns[idx+1]))
  print(dfs.to_string())
  print("\n")
  assert(expected[idx] == dfs.index.to_list())

Sort by columns: [m, n]

        m      n   o   p    q
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
7    True -42.00  -1  99  xyz
9    True    NaN  99  -1  jkl


Sort by columns: [n, o]

        m      n   o   p    q
7    True -42.00  -1  99  xyz
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
9    True    NaN  99  -1  jkl


Sort by columns: [o, p]

        m      n   o   p    q
7    True -42.00  -1  99  xyz
6   False  99.00   0  23  abc
10  False  16.66  23   0  ghi
8   False   0.00  42  42  def
9    True    NaN  99  -1  jkl


Sort by columns: [p, q]

        m      n   o   p    q
9    True    NaN  99  -1  jkl
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
8   False   0.00  42  42  def
7    True -42.00  -1  99  xyz

In [93]:
# sort by all columns
expected = [8, 10, 6, 7, 9]
dfs = df.sort_values(list(columns))
print('Sort by columns: {0}\n'.format(columns))
print(dfs.to_string())
print("\n")
assert(expected == dfs.index.to_list())

Sort by columns: ('m', 'n', 'o', 'p', 'q')

        m      n   o   p    q
8   False   0.00  42  42  def
10  False  16.66  23   0  ghi
6   False  99.00   0  23  abc
7    True -42.00  -1  99  xyz
9    True    NaN  99  -1  jkl

In [94]:
# sort by one index
for idx in range(len(index)):
  try: 
        dfs = df.sort_values(by=index[idx], axis=1)
  except TypeError as e:
    print(str(e))
    assert(str(e).startswith("'>' not supported between instances"))

'>' not supported between instances of 'numpy.ndarray' and 'str'
'>' not supported between instances of 'numpy.ndarray' and 'str'
'>' not supported between instances of 'numpy.ndarray' and 'str'
'>' not supported between instances of 'numpy.ndarray' and 'str'
'>' not supported between instances of 'numpy.ndarray' and 'str'

In [182]:
print (pd.Series([4, 7, -5, 3]).to_string(length=True))
pd.Series([4, 7, -5, 3])

0    4
1    7
2   -5
3    3
Length: 4

0    4
1    7
2   -5
3    3
dtype: int64

In [200]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [201]:
obj2[["d","b"]]

d    4
b    7
dtype: int64

In [202]:
obj2["d"] = 46.7

In [203]:
obj2

d    46
b     7
a    -5
c     3
dtype: int64